<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title id='title'>Market is coming</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="icon" 
      type="image/png" 
      href="assets/images/market-logo-sqr.png">
        <style>
         ::-webkit-input-placeholder {
		   color: #fff;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: #fff;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: #fff;  
		}

		:-ms-input-placeholder {  
		   color: #fff;  
		}

		@font-face {
		  font-family: 'Helvetica Neue';    
		  src: url('./HelveticaNeue-UltraLigCond.otf');
		}
		p {
			font-family: 'Helvetica Neue', sans-serif;
			font-weight:200;
			color:#fff;
			padding:5px;
			padding-top:0px;
			margin:0;
			font-size:16px;
		}
		input {
			font-family: 'Helvetica Neue', sans-serif;
			font-size:12px;
			font-weight:200;
		}
		.email {
			background:none; color:#fff; border:1px solid #fff; padding:9px; width:260px;
			display:inline-block;
		}
		.logo {
			width:100%; padding-bottom:20px; max-width:480px; height:auto
		}
		input[type="submit"]{
			padding:10px; -webkit-appearance:none; width:200px; margin-top:10px; text-align:center; background:rgba(0, 191, 255, 1); border:none; color:#fff; display:inline-block;
		}
        </style>
    </head>
    <body style="text-align:center; background:rgb(17, 24, 39)">
    <div style="width:100%; max-width:800px; text-align:center; margin:140px auto;">
    	<%= image_tag('market-is-coming.png', :class=>"logo") %>
    	<p><br/>Market is a new social platform that makes it easy for you to find, sell and buy the things you love.</p><p>There is an exclusive amount of beta positions available. <br/><br/><br/><strong>Enter your email now to secure your account:<strong></p>  
    	<!-- Begin MailChimp Signup Form -->
		<style type="text/css">
			#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
			/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
			   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
		</style>
		<div id="mc_embed_signup">
		<%= form_for @user do |f| %>
			<%= f.text_field :email, :class=>"email", :placeholder=>"Email Address" %>
			<%= f.submit "Submit" %>
		<% end %>
		</div>
		<div id="in_touch" style="display:none">
			<p style="padding-top:20px; color:rgba(0, 191, 255, 1)">We'll be in touch</p>
		</div>
	</div>
    </body>
</html>