<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title id='title'>Market is coming</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="icon" 
      type="image/png" 
      href="market-logo-sqr.png">
        <style>
         ::-webkit-input-placeholder {
		   color: #fff;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: #fff;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: #fff;  
		}

		:-ms-input-placeholder {  
		   color: #fff;  
		}

		@font-face {
		  font-family: 'Helvetica Neue';    
		  src: url('./HelveticaNeue-UltraLigCond.otf');
		}
		p {
			font-family: 'Helvetica Neue', sans-serif;
			font-weight:200;
			color:#fff;
			padding:5px;
			padding-top:0px;
			margin:0;
			font-size:16px;
		}
		input {
			font-family: 'Helvetica Neue', sans-serif;
			font-size:12px;
			text-transform: uppercase;
			font-weight:200;
		}
        </style>
    </head>
    <body style="text-align:center; background:rgb(17, 24, 39)">
    <div style="width:100%; max-width:800px; text-align:center; margin:140px auto;">
		<div id="in_touch" style="display:block">
			<p style="padding-top:20px; color:rgba(0, 191, 255, 1)">We'll be in touch</p>
		</div>
	</div>

<!--End mc_embed_signup-->
    </body>
</html>